{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index-k8s_pod_list</title>
</head>
<body>
<a class="btn btn-default" href="{% url 'myblogs:new_deploy' %}" role="button">Create New Deploy</a>
<div class="container">
<table class="table table-striped">
<th>NAME</th>
    {% for i in deploy_list.items %}
<tr>
        <td>{{ i.metadata.name }}</td>
{#<td>{{ i.spec.containers.image }}</td>#}
{#<td>{{ i.spec.containers.ports.container_port }}</td>#}
{#<td>{{ i.metadata.name }}</td>#}
    {% endfor %}
</tr>
</table>
</div>


</body>
</html>
{% endblock content %}