{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Index-k8s_pod_list</title>
</head>
<body>
<table border="1">
    {% for i in pod_list.items %}
<tr>
<td>{{ i.status.pod_ip }}</td>
<td>{{ i.metadata.namespace }}</td>
<td>{{ i.metadata.name }}</td>
    {% endfor %}
</tr>
</table>
</body>
</html>
{% endblock content %}