{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html ang-app="">

<head>
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap.min.css">
</head>

<body ng-controller="userController">
<div class="container">

    <h3>Pod List</h3>
<table class="table table-striped">
<thead><tr>
<th>IP</th>
<th>NAMESPACE</th>
<th>NAME</th>
</tr></thead>
    {% for i in pod_list.items %}
        <tr>
<td>{{ i.status.pod_ip }}</td>
<td>{{ i.metadata.namespace }}</td>
<td>{{ i.metadata.name }}</td>
    {% endfor %}
</tr>
</table>
</div>
</body>
</html>
{% endblock content %}