{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create K8S SVC</title>
</head>
<body>
<a class="btn btn-default" href="{% url 'myblogs:new_svc' %}" role="button">Create New Service Form</a>
<div class="container">
<table class="table table-striped">
<th>NAMESPACE</th>
<th>NAME</th>
    {% for i in service_list.items %}
<tr>
<td>{{ i.metadata.namespace }}</td>
<td>{{ i.metadata.name }}</td>
    {% endfor %}
    </tr>
</table>
</div>
</body>
</html>
{% endblock content %}